[submodule "QuasarAppLib"]
	path = QuasarAppLib
	url = https://github.com/QuasarApp/QuasarAppLib.git
[submodule "CQtDeployer"]
	path = CQtDeployer
	url = https://github.com/QuasarApp/Console-QtDeployer.git
